In [50]:
import pandas as pd

In [51]:
df = pd.read_csv("/Users/gena2/Desktop/KarpovCourses/lesson2_pandas/mini_project_pandas/2_bookings.csv",sep = ';')

In [126]:
df.head(7)

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,adults,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
5,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
6,Resort Hotel,0,0,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-03

In [53]:
df.shape

(119390, 21)

In [54]:
df.dtypes.value_counts()

object     10
int64      10
float64     1
dtype: int64

In [55]:
df.columns

Index(['Hotel', 'Is Canceled', 'Lead Time', 'arrival full date',
       'Arrival Date Year', 'Arrival Date Month', 'Arrival Date Week Number',
       'Arrival Date Day of Month', 'Stays in Weekend nights',
       'Stays in week nights', 'stays total nights', 'Adults', 'Children',
       'Babies', 'Meal', 'Country', 'Reserved Room Type', 'Assigned room type',
       'customer type', 'Reservation Status', 'Reservation status_date'],
      dtype='object')

In [56]:
df = df.rename(columns={'Hotel':"hotel", 'Is Canceled':"is_canceled", 'Lead Time':"lead_time", 'arrival full date':"arrival_full_date",
     'Arrival Date Year':"arrival_date_year", 'Arrival Date Month':"arrival_date_month", 'Arrival Date Week Number':"arrival_date_week_number",
      'Arrival Date Day of Month':"arrival_date_day_of_month", 'Stays in Weekend nights':"stays_in_weekend_nights",
       'Stays in week nights':"stays_in_week_nights", 'stays total nights':"stays_total_nights", 'Adults':"adults", 'Children':"children",
       'Babies':"babies", 'Meal':"meal", 'Country':"country", 'Reserved Room Type':"reserved_room_type", 'Assigned room type':"assigned_room_type",
       'customer type':"customer_type", 'Reservation Status':"reservation_status", 'Reservation status_date':"reservation_status_date"})

In [73]:
df

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,adults,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017-08-30,2017,August,35,30,2,5,...,2,0.0,0,BB,BEL,A,A,Transient,Check-Out,2017-09-06
119386,City Hotel,0,102,2017-08-31,2017,August,35,31,2,5,...,3,0.0,0,BB,FRA,E,E,Transient,Check-Out,2017-09-07
119387,City Hotel,0,34,2017-08-31,2017,August,35,31,2,5,...,2,0.0,0,BB,DEU,D,D,Transient,Check-Out,2017-09-07
119388,City Hotel,0,109,2017-08-31,2017,August,35,31,2,5,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2017-09-07
119389,City Hotel,0,205,2017-08-29,2017,August,35,29,2,7,...,2,0.0,0,HB,DEU,A,A,Transient,Check-Out,2017-09-07

In [84]:
countries = df \
    .query('is_canceled != "0"') \

In [85]:
#Пользователи из каких стран совершили наибольшее число успешных бронирований?
countries.country.value_counts()

PRT    48590
GBR    12129
FRA    10415
ESP     8568
DEU     7287
       ...
NIC        1
MRT        1
SMR        1
MDG        1
NCL        1
Name: country, Length: 177, dtype: int64

In [88]:
city_hotel_nights = df \
    .query("hotel == 'City Hotel'") \
    .agg({'stays_total_nights':'mean'})

In [128]:
#На сколько ночей (stays_total_nights)  в среднем бронируют отели типа City Hotel? 
city_hotel_nights.round(2)

stays_total_nights    2.98
dtype: float64

In [113]:
resort_hotel_nights = df \
    .query("hotel == 'Resort Hotel'") \
    .agg({'stays_total_nights':'mean'})

In [127]:
#На сколько ночей (stays_total_nights)  в среднем бронируют отели типа Resort Hotel?
resort_hotel_nights.round(2)

stays_total_nights    4.32
dtype: float64

In [115]:
diff_type_room = df \
    .query("reserved_room_type != assigned_room_type")

In [116]:
# Тип заброн. комнаты отличается от фактической 
diff_type_room

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,adults,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
12,Resort Hotel,0,68,2015-07-01,2015,July,27,1,0,4,...,2,0.0,0,BB,USA,D,E,Transient,Check-Out,2015-07-05
15,Resort Hotel,0,68,2015-07-01,2015,July,27,1,0,4,...,2,0.0,0,BB,IRL,D,E,Transient,Check-Out,2015-07-05
17,Resort Hotel,0,12,2015-07-01,2015,July,27,1,0,1,...,2,0.0,0,BB,IRL,A,E,Transient,Check-Out,2015-07-02
18,Resort Hotel,0,0,2015-07-01,2015,July,27,1,0,1,...,2,0.0,0,BB,FRA,A,G,Transient,Check-Out,2015-07-02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119273,City Hotel,0,213,2017-08-28,2017,August,35,28,1,3,...,1,0.0,0,HB,PRT,A,K,Transient-Party,Check-Out,2017-09-01
119274,City Hotel,0,213,2017-08-28,2017,August,35,28,1,3,...,1,0.0,0,HB,PRT,A,K,Transient-Party,Check-Out,2017-09-01
119289,City Hotel,0,25,2017-08-30,2017,August,35,30,0,3,...,3,0.0,0,BB,ITA,E,F,Transient,Check-Out,2017-09-02
119297,City Hotel,0,332,2017-08-31,2017,August,35,31,0,2,...,2,0.0,0,BB,GBR,D,F,Transient,Check-Out,2017-09-02
119357,City Hotel,0,47,2017-08-31,2017,August,35,31,1,3,...,1,0.0,0,SC,PRT,A,D,Transient,Check-Out,2017-09-04

In [153]:
#Группировка бронирований по месяцам и годам
df.groupby(['arrival_date_year','arrival_date_month'],as_index=False) \
    .agg({"is_canceled" : 'count'}) \
    .sort_values("is_canceled",ascending=False)

    arrival_date_year arrival_date_month  is_canceled
25               2017                May         6313
16               2016            October         6203
18               2017              April         5661
23               2017               June         5647
14               2016                May         5478
6                2016              April         5428
17               2016          September         5394
22               2017               July         5313
12               2016               June         5292
5                2015          September         5114
7                2016             August         5063
24               2017              March         4970
4                2015            October         4957
19               2017             August         4925
13               2016              March         4824
11               2016               July         4572
15               2016           November         4454
20               2017           February         4177
9                2016           February         3891
0                2015             August         3889
8                2016           December         3860
21               2017            January         3681
1                2015           December         2920
2                2015               July         2776
3                2015           November         2340
10               2016            January         2248

In [163]:
#В каких месяцах отменялись брони чаще по годам
df.query("hotel=='City Hotel'").query("is_canceled == 1") \
    .groupby('arrival_date_year').arrival_date_month.value_counts()

arrival_date_year  arrival_date_month
2015               September             1543
                   October               1321
                   August                1232
                   July                   939
                   December               668
                   November               301
2016               October               1947
                   June                  1720
                   September             1567
                   April                 1539
                   May                   1436
                   November              1360
                   August                1247
                   March                 1108
                   December              1072
                   July                  1043
                   February               930
                   January                438
2017               May                   2217
                   April                 1926
                   June                  1808
                   July                  1324
                   March                 1278
                   August                1123
                   January               1044
                   February               971
Name: arrival_date_month, dtype: int64

In [171]:
# Кого больше в отелях
df[["babies","children","adults"]].mean()

babies      0.007949
children    0.103890
adults      1.856403
dtype: float64

In [207]:
df['total_kids']=df.babies + df.children

In [208]:
#В каком типе отелей детей больше среднее значение
df.groupby("hotel").total_kids.mean()

hotel
City Hotel      0.096311
Resort Hotel    0.142586
Name: total_kids, dtype: float64

In [229]:
def has_kids(kid):
    if kid > 0:
        return True
    else:
        return False

In [230]:
#Расчет процента отмены брони,в зависимости от наличия детей
df.groupby('has_kids')['is_canceled'].value_counts(normalize=True)

has_kids  is_canceled
False     0              0.627810
          1              0.372190
True      0              0.650493
          1              0.349507
Name: is_canceled, dtype: float64

In [231]:
df

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date,total_kids,has_kids
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01,0.0,False
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01,0.0,False
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02,0.0,False
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02,0.0,False
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03,0.0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017-08-30,2017,August,35,30,2,5,...,0,BB,BEL,A,A,Transient,Check-Out,2017-09-06,0.0,False
119386,City Hotel,0,102,2017-08-31,2017,August,35,31,2,5,...,0,BB,FRA,E,E,Transient,Check-Out,2017-09-07,0.0,False
119387,City Hotel,0,34,2017-08-31,2017,August,35,31,2,5,...,0,BB,DEU,D,D,Transient,Check-Out,2017-09-07,0.0,False
119388,City Hotel,0,109,2017-08-31,2017,August,35,31,2,5,...,0,BB,GBR,A,A,Transient,Check-Out,2017-09-07,0.0,False
119389,City Hotel,0,205,2017-08-29,2017,August,35,29,2,7,...,0,HB,DEU,A,A,Transient,Check-Out,2017-09-07,0.0,False